<div class="flex justify-end items-center mb-4">
  <button type="button" class="big-add-button">
    <a href="{{route}}" class="flex items-center justify-center" up-layer="new" up-mode="cover" up-class="up-modal-container"> 
      <i data-feather="plus"></i>
      <span>{{label}}</span>
    </a>
  </button>
</div>