@if(data.hasPages)
<div class="my-12">
  <div class="flex items-center justify-center space-x-8">
    @each(anchor in data.getUrlsForRange(data.firstPage, data.lastPage))
    <a href="{{ anchor.url }}" up-target=".data-table-target" up-preload
      class="font-medium {{ anchor.isActive ? 'text-primary' : 'hover:text-primary' }}">
      {{ anchor.page }}
    </a>
    @endeach
  </div>
</div>
@end