<ul class="flex flex-row gap-5 mb-10">
  <li>
    @!component('components/tab', {
    title: 'Quotes',
    href: '/quotes',
    icon: 'square'
    })
  </li>
  <li>
    @!component('components/tab', {
    title: 'Authors',
    href: '/authors',
    icon: 'users'
    })
  </li>
  <li>
    @!component('components/tab', {
    title: 'Tags',
    href: '/tags',
    icon: 'tag'
    })
  </li>
</ul>