<ul class="tabs">
  <li>
    @!component('components/tab', {
    title: 'Quotes',
    href: '/quotes',
    classes: 'inactive',
    icon: 'square'
    })
  </li>
  <li>
    @!component('components/tab', {
    title: 'Authors',
    href: '/authors',
    classes: 'inactive',
    icon: 'users'
    })
  </li>
  <li>
    @!component('components/tab', {
    title: 'Tags',
    href: '/tags',
    classes: 'inactive',
    icon: 'tag'
    })
  </li>
</ul>