@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  resize: none;
}

body.modal-open {
  overflow: hidden;
}

.default-outline {
  @apply focus:outline-none focus:outline-primary
}

.active-tab {
  @apply text-primary border-b-4 border-b-primary;
}

.inactive-tab {
  @apply text-inactive border-b-4 border-b-inactive hover:text-primary hover:border-b-primary;
}

.up-modal-container up-modal-box, .up-modal-container up-cover-box {
  @apply bg-background text-primary-text;
}

.input-container {
  @apply flex flex-col gap-2 mb-8;
}

.input-label {
  @apply text-primary-text font-bold text-lg;
}

.input {
  @apply bg-surface p-4 default-outline rounded-md;
}

.tag-container {
  @apply flex items-center bg-surface rounded-full self-start px-4 py-2 border-primary hover:border-2 mr-2 mb-2;
}

.add-button {
  @apply ml-2 bg-surface border-2 border-surface rounded-md p-1 hover:text-primary hover:border-primary;
}

.big-add-button {
  @apply bg-surface border-2 border-surface rounded-md p-3 hover:text-primary hover:border-primary;
}

.modal-container {
  @apply absolute top-0 right-0 bottom-0 left-0 flex flex-1 h-screen w-screen items-center justify-center;
  background-color: rgba(0, 0, 0, 0.5);
}

.disabled-modal-container {
  @apply hidden;
}

up-cover-dismiss {
  @apply hidden;
}

select-pure {
  --select-height: 100%;
  --select-width: 100%;
  --border-radius: 0.5rem;
  --border-width: 0;
  --padding: 0.5rem 1rem;
  --dropdown-z-index: 100;
  --background-color: #111827;
  --color: #f9fafb;
  --hover-background-color: #1f2937;
  --hover-color: #f9fafb;
  --selected-background-color: #1f2937;
  --selected-color: #f9fafb;
  --dropdown-gap: 0.5rem;
}